.logop {
  background-image: url(../img/piccolagertru.jpg);
  background-size: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 2rem;
}

.block {
  background-image: url(../img/bannerd.png);
  background-size: cover;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }