*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
 
}
:root{
  /*vamos a crear variables*/
  --color-bg:  #731515e7;
  --color-bg-variant: #e14b26;  
  /*color letra*/
  --color-primary: #210808/* #ff7066/* #B84A44/* #A6381F*/;
  /*color titulos*/
  --color-primary-variant: #4205059c/* #F9CEEE /*#F28A2E*/;
  --color-white: #ffffff;
  --color-light: #0c4f07/* #9b35af9a; /*#A6381F*/;
  /*Variable de transicion LOOK THAT ;-; */
  --transition: all 400ms ease;
  /*ancho de una clase contenedora de la mayoria de componentes */
  --container-width-lg:75%;
  /*para tablets*/
  --container-width-md:86%;
  /*small devices like a cellphone */
  --container-width-sm:90%;
  --color-service: #cf5a0b/*#551a06*/; /* segun yo este es un color browniosito*/
  --color-black:#0a0a0a;
  --color-beige: #ede6db;

}
body{
  font-family: "titulos", "parrafos";
  background: var(--color-beige);
  color: var(--color-beige);
  line-height: 1.7;
 
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDljMTA0MmQ4N2NlMzEzOWYyYWIxODFhZmViZjNjZDdlMTM0YmE4MCZjdD1n/ZEHkGB5qlzjOo7Yxjt/giphy.gif);
  background-size:cover;
}
@font-face {
  font-family: "titulos";
  src: url(../src/assets/components/fonts/ScheherazadeNew-Regular.ttf);
}
@font-face {
  font-family: "parrafos";
  src: url(../src/assets/components/fonts/Poppins-Regular.ttf);
}

a{
  color: var(--color-bg);
}

h1{
  font-size: 1.2rem;
}

h2{
  color: #37070d;
}

h3{
  color: #37070d;
}

h5{
  color: #37070d;
}

a{
  text-decoration: none;
}

.row.center{
  align-items:center;
}

.col-1 {
  flex-basis: 100%;
}
.col-2 {
  flex-basis: 100%;
}



.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media screen and (min-width: 800px) {
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
}

.navi{
  background-color: #F2DEBA;
  padding: rem;
  margin: rem;
  width: 38rem;
  text-align:center;
  
  
}
