* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-1 {
  flex-basis: 100%;
}
.col-2 {
  flex-basis: 100%;
}
@media screen and (min-width: 800px) {
  .col-1 {
    flex: 1fr;
  }
  .col-2 {
    flex: 2fr;
  }
}

.block{
  background-image: url(./assets/data/img/img/bannerd.png);
  background-size:cover;
  padding: 0.5rem;
  margin: 0.5rem;
}
